@model List<Github>
@{
    Layout = "~/Views/Shared/_SubPage.cshtml";
}
<div class="row">
    @Html.Partial("~/Views/Profile/_LeftMenu.cshtml")
    <div class="col-md-9">
        <div class="col-md-12">
            <div class="row">
                <h3>Github</h3>
                <blockquote>
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <p>
                                @(item.Title)
                                <ul class="smallList">
                                    <li><small>@(item.Memo)</small></li>
                                    <li><a href="@(item.AccessURL)" target="_blank">@(item.AccessURL)</a></li>
                                </ul>
                            </p>
                        }
                    }
                </blockquote>
            </div>

            <hr style="border-style:dashed" />

            <div class="row">
                <h3>ETC</h3>
                <blockquote>
                    <p>Facebook Application 개발<small>삼성전자, LG전자, 롯데제과, 포드코리아, 링컨코리아, 오리온, 보건복지부, 미래창조부 외 다수</small></p>
                </blockquote>
                <p>
                    <img src="/Content/images/main/Samsung_Support.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/Lotte_Sweethome.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/Lotte_Xylitol.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/ford_puzzle.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/bo.png" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/cisco.png" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/orion.png" style="width:12%;height:12%;" />
                </p>
            </div>
        </div>
    </div>
</div>
