@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="docs-header">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#FFF;font-weight:bold;padding:15px 15px;" href="/">@(ViewBag.Title)</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link" style="color:#FFF;" href="/Reading/MyList">Profile</a></li>
                    <li><a class="nav-link" style="color:#FFF;" href="/Member/Setup">설정</a></li>
                    <li><a class="nav-link" style="color:#FFF;" href="/Member/Logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container" style="margin-bottom:30px;">
@RenderBody()
</div>
<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Found a bug?</h3>
                <p>Open a <a href="https://github.com/parkheesung/Parkheesung.com/issues" target="_blank" rel="external nofollow">new issue</a> on GitHub. Please search for existing issues first and make sure to include all relevant information.</p>
                <a class="btn btn-primary" style="color:#FFF;" href="https://github.com/parkheesung/Parkheesung.com" target="_blank">Github Project</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <hr class="dashed">
        <div class="row">
            <div class="col-md-12">
                <h3>Talk to us</h3>
                <ul>
                    <li>Facebook us at <a href="https://www.facebook.com/yunlang97" target="_blank">Parkheesung</a>&nbsp;&nbsp;&nbsp;&nbsp;Email us at <a href="mailto:yunlang@parkheesung.com" class="connect">yunlang@parkheesung.com</a></li>
                </ul>
            </div>
        </div>
        <hr class="dashed">
        <div class="copyright clearfix">
            <p><b>@(ViewBag.Title)</b></p>
            <p><a href="https://parkheesung.com" target="_blank">Parkheesung.com</a>. All rights reserved.</p>
        </div>
    </div>
</div>

@section HeadLayer {
@RenderSection("HeadLayer", false)
}

@section ScriptLayer {
@RenderSection("ScriptLayer", false)
}